//
//  Debug.xcconfig
//  saerok
//
//  Created by HanSeung on 2/24/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "Secrets.Debug.xcconfig"

KAKAO_API_KEY = $(SECRET_KAKAO_API_KEY)
KAKAO_NATIVE_APP_KEY = $(SECRET_KAKAO_NATIVE_APP_KEY)
KAKAO_ADFIT_KEY = $(SECRET_KAKAO_ADFIT_KEY)
NAVER_MAP_API_KEY = $(SECRET_NAVER_MAP_API_KEY)
AMPLITUDE_API_KEY = $(SECRET_AMPLITUDE_API_KEY)

SLASH = /
BASE_URL = http:$(SLASH)$(SLASH)dev-api.saerok.app/api/v1/
