//
//  Release.xcconfig
//  saerok
//
//  Created by HanSeung on 2/24/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "Secrets.Release.xcconfig"

KAKAO_API_KEY = $(SECRET_KAKAO_API_KEY)
KAKAO_NATIVE_APP_KEY = $(SECRET_KAKAO_NATIVE_APP_KEY)
KAKAO_ADFIT_KEY = $(SECRET_KAKAO_ADFIT_KEY)
NAVER_MAP_API_KEY = $(SECRET_NAVER_MAP_API_KEY)
AMPLITUDE_API_KEY = $(SECRET_AMPLITUDE_API_KEY)

SLASH = /
BASE_URL = https:$(SLASH)$(SLASH)api.saerok.app/api/v1/

// 앱 번들 분리 (운영 환경)
APP_BUNDLE_ID = com.apu.saerok
APP_DISPLAY_NAME = 새록
APP_ICON_NAME = AppIcon
