//
//  Secrets.Release.xcconfig
//  saerok
//
//  Created by HanSeung on 5/18/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SECRET_KAKAO_API_KEY = f64d4581839965590b2aabaf63c4e70f

SECRET_KAKAO_NATIVE_APP_KEY = d00623fb800a685c8068878ee9ef7ef7

SECRET_KAKAO_ADFIT_KEY = DAN-L4a0ZF6YNnBgouAA

SECRET_NAVER_MAP_API_KEY = ggsy72s12w

SECRET_AMPLITUDE_API_KEY = 96840f0c90c44788693673e3815e183d
