//
//  Secrets.Debug.xcconfig
//  saerok
//
//  Created by HanSeung on 5/18/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SECRET_KAKAO_API_KEY = c6676b9135907d99150ad74f5fb97d49

SECRET_KAKAO_NATIVE_APP_KEY = 6a0d7c9151d59c61f029b8e5498911ea

SECRET_KAKAO_ADFIT_KEY = DAN-L4a0ZF6YNnBgouAA

SECRET_NAVER_MAP_API_KEY = ggsy72s12w

SECRET_AMPLITUDE_API_KEY = 96840f0c90c44788693673e3815e183d
