<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao6a0d7c9151d59c61f029b8e5498911ea</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>KAKAO_API_KEY</key>
	<string>$(KAKAO_API_KEY)</string>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>$(KAKAO_NATIVE_APP_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
		<string>kakaokompassauth</string>
	</array>
	<key>NMFNcpKeyId</key>
	<string>$(NAVER_MAP_API_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>PretendardVariable.ttf</string>
		<string>Moneygraphy-Rounded.ttf</string>
		<string>잘풀리는하루 Medium.ttf</string>
	</array>
</dict>
</plist>
